.social {
	position: fixed;
	// right: -70px;
	// top: calc(365px - 108px);
	right: 0;
	display: none;
	@media (max-width: $md3 + px) {
		display: none;
	}
	&__icon {
		&:not(:last-child) {
			margin: 0rem 0rem 25px 0rem;
		}
		svg {
			width: 1.1rem;
			height: 1.1rem;
			fill: #000;
		}
		@media (max-width: $md3 + px) {
			svg {
				fill: #fff;
			}
		}
	}
}
